.scrollbar-none::-webkit-scrollbar{
    display: none;
}
/* Hide scrollbars globally */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

